<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title1</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
</head>
<body>
<table class="layui-hide" id="test"></table>

<script src="/layui/layui.js"></script>
<script>
    layui.use(['table'], function(){
        var table = layui.table;

        table.render({
            elem: '#test'
            ,url: '/dept/getdept'
            ,cols: [
                [
                    {field:'id', width:80, title: 'ID', sort: true}
                    ,{field:'deptName', width:80, title: '部门'}
                    ,{field:'status', width:80, title: '状态', sort: true}
                    ,{field:'createWith', width:100, title: '创建人'}
                    ,{field:'updateWith', width:100, title: '更新人', sort: true}
                    ,{field:'updateDate', width:180, title: '更新时间', sort: true}
                ]
            ]
        });
    });
    //{"id":10000,"username":"user-0","sex":"女","city":"城市-0","sign":"签名-0","experience":255,"logins":24,"wealth":82830700,"classify":"作家","score":57}
</script>
</body>
</html>