<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title1</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <style>
        .deptform{
            width: 300px;
        }
    </style>
</head>
<body>
<table class="layui-hide" id="dept" lay-filter="dept"></table>
<div class="deptform" id="deptform" style="display: none">
    <form class="layui-form" action="">
        <div class="layui-inline">
            <label class="layui-form-label">部门名称</label>
            <div class="layui-input-block">
                <input type="text" name="deptName" lay-verify="deptName" autocomplete="off" placeholder="请输入部门名称" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="deptAddForm">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button type="button" class="layui-btn layui-btn-sm" lay-event="add">新增</button>
        <!--        <button type="button" class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>-->
        <!--        <button type="button" class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>-->
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script src="/layui/layui.js"></script>
<script>
    layui.use(['form', 'layedit', 'laydate', 'table'], function(){
        var table = layui.table, form=layui.form;
        var $ = layui.$;
        table.render({
            elem: '#dept'
            ,url: '/get/getdept'
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                ,layEvent: 'LAYTABLE_TIPS'
                ,icon: 'layui-icon-tips'
            }]
            ,cols: [
                [
                    {field:'id', width:80, title: 'ID', sort: true}
                    ,{field:'deptName', width:80, title: '部门'}
                    ,{field:'status', width:80, title: '状态', sort: true, templet: (tem) =>{
                        console.log(tem)
                        if(tem.status==='0')return "<span>可用</span>"
                        else return "<span>异常</span>"
                    }}
                    ,{field:'createWith', width:100, title: '创建人'}
                    ,{field:'updateWith', width:100, title: '更新人', sort: true}
                    ,{field:'updateDate', width:180, title: '更新时间', sort: true}
                    ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
                ]
            ]
            ,page: true
        });
        table.on('toolbar(dept)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'add':
                    layer.open({
                        type: 1,
                        content:$("#deptform")
                    })
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(dept)', function(obj){
            var data = obj.data;
            console.log(obj)
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    $.ajax({
                        url: '/delete/deletedept',
                        type: 'Post',
                        data: {
                            id: obj.data.id
                        },
                        success: (resp) =>{
                            console.log(resp)
                        },
                        error: (resp) =>{
                            console.log(resp)
                        }
                    })
                    obj.del();
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                layer.prompt({
                    formType: 2
                    ,value: data.email
                }, function(value, index){
                    obj.update({
                        email: value
                    });
                    layer.close(index);
                });
            }
        });
        form.on("submit(deptAddForm)", function (obj){
            console.log('开始传递数据')
            $.ajax({
                url: '/add/adddpet',
                type: 'Post',
                data:{
                    deptName: obj.field.deptName
                },
                success: (resp)=>{
                    console.log('success ',resp);
                    setTimeout(()=>{
                        table.reload("dept");
                    },200)

                },
                error: (resp) =>{
                    console.log('error ',resp);
                }
            })
        })
    });
</script>
</body>
</html>