<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
</head>
<body>
<div class="layui-btn-container">
    <button id="btn1" type="button" class="layui-btn">默认按钮</button>
</div>

<label class="layui-form-label">输入框</label>
<div class="layui-input-block">
    <input id="dateInput" type="text" name="title" required  lay-verify="required" placeholder="请输入日期" autocomplete="off" class="layui-input">
</div>

<script src="/layui/layui.js"></script>
<script>
    layui.use(['layer', 'laydate'], function(){
        var layer = layui.layer;
        var $ = layui.$;
        var laydate = layui.laydate;
        $("#btn1").click(function (){
            layer.msg("你好")
        })

        laydate.render({
            elem: "#dateInput"
        })
    });
</script>
</body>
</html>